.Navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
}

.Navbar .logo {
  background: turquoise;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}

.Navbar .slider-level-info {
  margin-left: 1rem;
}

.Navbar .select-container {
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: center;
}
